*/45 */2 * * *  /opt/scripts/backup-rrd
*/15 * * * * /srv/openhr20/rfmsrc/frontend/tools/plot 3
@hourly /srv/openhr20/rfmsrc/frontend/tools/plot 7
0 4 * * * /srv/openhr20/rfmsrc/frontend/tools/plot 30
0 5 * * * /srv/openhr20/rfmsrc/frontend/tools/plot 90
